@model tempestas_mons.web.Models.roadconditions.RoadConditionIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-inline container">
            <div class="form-group">
                <label for="startDate" class="control-label">Start</label>
                <input id="startDate"  style="width: 200px;" name="startDate" value="@Model.StartDate" />
            </div>
            <div class="form-group">
                <label for="endDate" class="control-label">End</label>
                <input id="endDate" style="width: 200px;" name="endDate" value="@Model.EndDate" />
            </div>
            <div class="form-group">
                <label for="direction" class="control-label">Direction</label>
                <select id="direction" name="direction">
                    <option>All</option>
                    <option>Westbound</option>
                    <option>Eastbound</option>
                </select>
            </div>
            <input type="submit" value="Analyze" class="btn btn-primary" />
        </div>
    }

    @if (Model.Summary != null)
    {
        <div id="summaryData">
            <div>
                <ul class="list-unstyled">
                    <li>
                        <h4>Traffic Delayed</h4>
                        <div id="PercentTrafficDelayed"></div>
                    </li>
                    <li>
                        <h4>Traffic Delayed (Avalanche Control)</h4>
                        <div id="PercentTrafficDelayedForAvalancheControl"></div>
                    </li>
                    <li>
                        <h4>Traction Tires Advised</h4>
                        <div id="PercentTractionTiresAdvised"></div>
                    </li>
                    <li>
                        <h4>Traction Tires Required</h4>
                        <div id="PercentTractionTiresRequired"></div>
                    </li>
                    <li>
                        <h4>Chains Required (Except AWD)</h4>
                        <div id="PercentChainsRequiredExceptAllWheelDrive"></div>
                    </li>
                    <li>
                        <h4>Chains Requried (All Vehicles)</h4>
                        <div id="PercentChainsRequiredAllVehicles"></div>
                    </li>
                    <li>
                        <h4>Pass Closed</h4>
                        <div id="PercentPassClosed"></div>
                    </li>
                    <li>
                        <h4>Pass Closed (Avalanche Control)</h4>
                        <div id="PercentTrafficStoppedForAvalancheControl"></div>
                    </li>


                </ul>
            </div>
        </div>
    }



    <script>
        $(document).ready(function () {
            // create DateTimePicker from input HTML element
            $("#startDate").kendoDateTimePicker({
            });
            $("#endDate").kendoDateTimePicker({
            });
            $("#direction").kendoComboBox();

            $("#PercentTractionTiresAdvised").kendoProgressBar({ min: 0, max: 100, type: "percent", animation: { duration: 400 } })
                .data("kendoProgressBar")
                .value(@Model.Summary.PercentTractionTiresAdvised);

            $("#PercentTractionTiresRequired").kendoProgressBar({ min: 0, max: 100, type: "percent", animation: { duration: 400 } })
                .data("kendoProgressBar")
                .value(@Model.Summary.PercentTractionTiresRequired);

            $("#PercentChainsRequiredAllVehicles").kendoProgressBar({ min: 0, max: 100, type: "percent", animation: { duration: 400 } })
                .data("kendoProgressBar")
                .value(@Model.Summary.PercentChainsRequiredAllVehicles);

            $("#PercentChainsRequiredExceptAllWheelDrive").kendoProgressBar({ min: 0, max: 100, type: "percent", animation: { duration: 400 } })
                .data("kendoProgressBar")
                .value(@Model.Summary.PercentChainsRequiredExceptAllWheelDrive);

            $("#PercentPassClosed").kendoProgressBar({ min: 0, max: 100, type: "percent", animation: { duration: 400 } })
                .data("kendoProgressBar")
                .value(@Model.Summary.PercentPassClosed);

            $("#PercentTrafficDelayed").kendoProgressBar({ min: 0, max: 100, type: "percent", animation: { duration: 400 } })
                .data("kendoProgressBar")
                .value(@Model.Summary.PercentTrafficDelayed);

            $("#PercentTrafficStoppedForAvalancheControl").kendoProgressBar({ min: 0, max: 100, type: "percent", animation: { duration: 400 } })
                .data("kendoProgressBar")
                .value(@Model.Summary.PercentTrafficStoppedForAvalancheControl);

            $("#PercentTrafficDelayedForAvalancheControl").kendoProgressBar({ min: 0, max: 100, type: "percent", animation: { duration: 400 } })
                .data("kendoProgressBar")
                .value(@Model.Summary.PercentTrafficDelayedForAvalancheControl);

        });
    </script>

</div>